body{


height: 100vh;
margin:0;
padding: 0;
overflow: hidden;
}



.stargate{
    display: none;
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;font-size:14vh;
    top:35vh;
 
    width: 100%;
   
    letter-spacing: 7vh;
    animation:2s   showing forwards cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    
    
    @keyframes showing{
    
  0%{opacity: 0}
 
  
    100%{opacity:1;}
    }







.symbole{
    position: absolute;
    top:43vh;
    left:12%;
    display: block;
}


#a_symbol,.a_symbol_1{
    font-family: 'Lexend Peta', sans-serif;
    font-family: 'Cairo', sans-serif;
position: relative;
margin-right:7vh;


opacity: 1;
}






#a_symbol_1{
  
    animation: obrotion_1 1s forwards;
  margin-right:7vh;





}








.symbol_1,.symbol_2,.symbol_3,.symbol_4,.symbol_5,.symbol_6{
    font-family: 'Lexend Tera', sans-serif;
  float: left;

    margin-left: 5vh;
    font-size:17vh;
   
    animation: symbol 4s  forwards;
    
    
    }

   
    
    
    @keyframes symbol{ 
    
    
    0%{ transform: scale(0);opacity:1;}
    50%{opacity:1}
    100%{transform: scale(1);opacity:0;}
    
    
    }














